.submit {
    margin: 15px;
    background-color: Green;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 15px;
}

button {
    margin: 5px;
    background-color: red;
    color: white;
    height: 30px;
}

li {
    display: flex;
    align-items: center;
}